.container {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background: #597d80;
}

.header {
    padding: 20px 0;
}

.header-link {
    text-decoration: none;
    background: #e2e2e2;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #597d80;
    border-radius: 8px;
    padding: 5px 10px;
    margin-right: 20px;
}
.pdt {
    padding: 50px 0;
}
.todo label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background:#597d80;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.todo.completed span {
    text-decoration: line-through;
    font-weight: bolder;
}

.pointer {
    cursor: pointer;
}